.Diary-detail-page section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
}

.Diary-detail-page h4 {
    font-size: 22px;
    font-weight: bold;
}

.Diary-detail-page .diary-img-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    background-color: #ececec;
    
}

.Diary-detail-page .emotion-descript{
    font-size: 25px;
    
}

.Diary-detail-page .img-wrap-1 {
    background-color: #64c964;
    
}

.Diary-detail-page .img-wrap-2 {
    background-color: #9dd772;
    
}

.Diary-detail-page .img-wrap-3 {
    background-color: #fdce17;
   
}

.Diary-detail-page .img-wrap-4 {
    background-color: #fd8446;
    
}

.Diary-detail-page .img-wrap-5 {
    background-color: #fd565f;
    
}



.Diary-detail-page .diary-content-wrap {
    width: 100%;
}

.Diary-detail-page .diary-content-wrap p{
    padding: 20px;
    text-align: left;

}