.Diary-detail-page section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 100%;
    margin-bottom: 100px;
}

.Diary-detail-page h4 {
    font-size: 22px;
    font-weight: bold;
}

.Diary-detail-page .diary-img-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background-color: #ececec;
    
}

.Diary-detail-page .emotion-descript{
    font-size: 25px;
    color: white;
}

.Diary-detail-page .img-wrap-1 {
    background-color: #78b2e5;
    
}

.Diary-detail-page .img-wrap-2 {
    background-color: #93c9ed;
    
}

.Diary-detail-page .img-wrap-3 {
    background-color: #b4b4b4;

}

.Diary-detail-page .img-wrap-4 {
    background-color: #ffc768;
    
}

.Diary-detail-page .img-wrap-5 {
    background-color: #fc9c52;
    
}



.Diary-detail-page .diary-content-wrap {
    width: 100%;
    background-color: #ececec;
    border-radius: 5px;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.Diary-detail-page .diary-content-wrap p{
    padding: 20px;
    text-align: left;
    font-weight: 400;
    line-height: 2.5;

}

/* sign in & sign up */

.sign {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}
.sign__input {
    width: 300px;
    height: 50px;
    padding: 20px;
    margin: 10px;
}
.sign__button {
    background-color: rgb(248, 47, 98);
    color: rgb(255, 255, 255);
    font-weight: 700;
    width: 100%;
    border-radius: 40px;
    height: 48px;
    margin-top: 10px;
}