@font-face {
    font-family: 'Dovemayo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Dovemayo-Medium';
}

body {
   
    display: flex;
    justify-content: center;
    align-items: center;
 
}

body .Layout{
    max-width: 1200px;
    min-width: 800px;
    
}
